.ModalBox {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 10px;
  border: 2px solid #285430;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px;
  @media only screen and (max-width: 767px) {
    font-size: 0.7rem;
    width: 70%;
  }
  &_Desc {
    height: 6rem;
    overflow: scroll visible;
  }
}
